body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}

/* Fondo detrás del formulario */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('fondo1.avif');
    background-size: cover;
    background-position: center;
    filter: blur(8px) opacity(0.6);
    z-index: -1; /* Detrás de todo el contenido */
}    

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.carrusel-container {
    position: relative;
    width: 80%; /* Puedes ajustar el ancho */
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagen {
    min-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo del texto */
.texto-container {
    width: 40%; /* Ajusta el ancho */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto {
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.texto-activo {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
footer ul li i {
    margin-right: 10px;
}
footer ul li a {
    color: white;
    text-decoration: none;
}
footer ul li a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer ul {
        margin-bottom: 20px;
    }
}